<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Caveiras Rugby Clube</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <header class="main">
        <hgroup>
          <h1><a href="/">Caveiras Rugby Club</a></h1>
          <h2>Time de Rugby de São José do Rio Preto – SP</h2>
        </hgroup>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/campeonatos.html">Campeonatos</a></li>
            <li><a href="/fotos.html">Fotos</a></li>
            <li><a href="/sobre.html">Sobre</a></li>
            <li><a href="/contato.html">Contato</a></li>
          </ul>
        </nav>
    </header>

    <div id="page">
      <section class="main">
      	{{content}}
      </section>

      <section class="secondary">        
        <div>
          <h1>
            Treinos
          </h1>
          <p>Segunda e quarta às 23:00 <br>
            Sábado às 14:00
          </p>          
          <p>Campo da Cidade Nova
          Rua Otávio Pinto César, 123</p>
        </div>
      </section>

      <aside class="logo logo-right">
        <img src="/images/logo-right.png">      
      </aside>
    <div>    

    <script type="text/javascript">     
      var disqus_shortname = 'caveirasrugbyclube';
          
      (function () {
        var s = document.createElement('script'); 
        s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37218581-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>