---
layout: default
---
<article class="post">
	<header>
		<h1>
		  {{ page.title }}
		</h1>
		<div class="meta">
		  <time datetime="{{ page.date | date: "%Y-%m-%d"}}" pubdate>{{ page.date | date: "%d/%m/%Y" }}</time>
		  <div class="post_comments_count">
		    <a href="{{page.url}}#disqus_thread" data-disqus-identifier="{{page.id}}">Deixe um coment&aacute;rio</a>
		  </div>      
		</div>
	</header>
	<section class="content">
    
    {{ content }}

    <!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_tweet"></a>
	<a class="addthis_button_pinterest_pinit"></a>
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d73a0e42f98307"></script>
	<!-- AddThis Button END -->

  </section>
  <footer>
		<a href="/">Voltar</a>
		
		<section id="comments">
			<div id="disqus_thread"></div>
		    <script type="text/javascript">		        
		        var disqus_shortname = 'caveirasrugbyclube';

		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		    
		</section>
	</footer>
</article>